@page "/"

<div class="card">
    <div class="card-body">
        <div class="container mb-5 mt-3">

            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">
                        <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
                        <p class="pt-0">BitProSoftTech </p>
                        <input type="button" class="btn btn-success oi-align-right" value="New Invoice" @onclick="NewInvoice" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-8">
                        <ul class="list-unstyled">
                            <li class="text-muted"> To: </li>
                            <li class="text-muted col-sm-4"> <input @bind="Data.staticData._invoice.CustomerInfo.Name" class="form-control" placeholder="Customer Name"> </li>
                            <li class="text-muted col-sm-4"> <input @bind="Data.staticData._invoice.CustomerInfo.Address" class="form-control" placeholder="Address"> </li>
                            <li class="text-muted col-sm-4"> <input @bind="Data.staticData._invoice.CustomerInfo.Mobile1" class="form-control" placeholder="Mobile Number"> </li>
                        </ul>
                    </div>
                    <div class="col-xl-4">
                        <p class="text-muted">Invoice</p>
                        <ul class="list-unstyled">
                            <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">ID:</span>#@Data.staticData._invoice.InvoiceNo</li>
                            <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">Creation Date: </span>@Data.staticData._invoice.CreatedDate.ToString("dd/MMM/yyyy")</li>
                            <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">Unpaid</span></li>
                        </ul>
                    </div>
                </div>

                <div class="row my-2 mx-1 justify-content-center">
                    <table>
                        <thead style="background-color:#84B0CA ;" class="text-white">
                            <tr>
                                <th style="width:10%" scope="col">S. No.</th>
                                <th style="width:50%" scope="col">Item Description</th>
                                <th style="width:10%" scope="col">Qty</th>
                                <th style="width:10%" scope="col">Unit Price</th>
                                <th style="width:10%" scope="col">Amount</th>
                                <th style="width:10%;" scope="col">
                                    <span id="boot-icon" class="bi bi-plus-circle" @onclick="AddNewItemRow" style="font-size: 24px; color: rgb(0, 128, 55); -webkit-text-stroke-width: 1.6px;"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Data.staticData._invoice.Items)
                            {
                                <tr>
                                    <td> @item.SNo</td>
                                    <td> <input style="width:100%" @bind="item.ProductServiceDescription" type="text" /> </td>
                                    <td> <input style="width:80%; float:right" @bind="item.UnitPrice" type="number" /> </td>
                                    <td> <input style="width:80%; float:right" @bind="item.UnitCounts" type="number" /> </td>
                                    <td> @item.TotalPrice </td>
                                    <td > <span id="boot-icon" class="bi bi-trash" @onclick="()=>RemoveItemRow(item.SNo)" style="font-size: 31px; opacity: 0.8; -webkit-text-stroke-width: 0.6px; color: rgb(255, 0, 0);"></span>                              </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <p class="ms-3">Add additional notes and payment information</p>
                        <div class="row my-2 mx-1 justify-content-center">
                            <table>
                                <thead style="background-color:#84B0CA ;" class="text-white">
                                    <tr>
                                        <th scope="col">S. No.</th>
                                        <th scope="col"> Date </th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Description</th>
                                        <th></th>
                                        <th></th>
                                        <th scope="col"><input type="button" class="btn btn-warning" @onclick="AddNewPaymentRow" value="Add" />  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var pay in Data.staticData._invoice.Payments)
                                    {
                                        <tr>
                                            <td> @pay.SNo</td>
                                            <td>@pay.CreatedDate.ToString("dd/MMM/yyyy")</td>
                                            <td> <input @bind="pay.Description" type="text" /> </td>
                                            <td> <input @bind="pay.ReceivedAmount" type="number" /> </td>
                                            <td>@pay.ReceivedAmount </td>
                                            <td>@pay.Description</td>
                                            <td>
                                                <span id="boot-icon" class="bi bi-trash" @onclick="()=>RemovePaymentRow(pay.SNo)" style="font-size: 31px; opacity: 0.8; -webkit-text-stroke-width: 0.6px; color: rgb(255, 0, 0);"></span>

                                                @*                                                <input type="button" class="btn btn-danger" value="Delete" @onclick="()=>RemovePaymentRow(pay.SNo)">*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot style="background-color:#405a69 ;" class="text-white">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Total Paid: </th>
                                        <th> @Data.staticData._invoice.TotalPaid</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>














                    </div>
                    <div class="col-xl-4">

                        <div class="form-group row">
                            <label class="col-sm-8 col-form-label">Grand Total </label>
                            <div class="col-sm-4">
                                <label class="form-control" readonly>@Data.staticData._invoice.GrandTotal</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-8 col-form-label">Tax % </label>
                            <div class="col-sm-4">
                                <input @bind="Data.staticData._invoice.TaxPercentage" class="form-control" placeholder="Tax %" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-8 col-form-label">Tax Amount</label>
                            <div class="col-sm-4">
                                <lable class="form-control" readonly>@Data.staticData._invoice.TaxAmount</lable>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-8 col-form-label">Discount Amount</label>
                            <div class="col-sm-4">
                                <input @bind="Data.staticData._invoice.DiscountAmount" class="form-control" placeholder="Discount Amount" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-8 col-form-label">Discount % </label>
                            <div class="col-sm-4">
                                <label readonly class="form-control"> @Data.staticData._invoice.DiscountPercentage </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-8 col-form-label">RemainingBalance </label>
                            <div class="col-sm-4">
                                <label readonly class="form-control"> @Data.staticData._invoice.RemainingBalance </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xl-10">
                        <p>Thank you for your purchase</p>
                    </div>
                    <div class="col-xl-2">
                        <button type="button" class="btn btn-primary text-capitalize"
                                style="background-color:#60bdf3 ;">
                            Save
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

